
/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
}
table {						/* устраняем отступы между ячейками таблицы */
	border-collapse: collapse; 
	border-spacing: 0;
}
td, td img {
	vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
} 
input, select, button, textarea {
	margin: 0; 				/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
	font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
	outline: none;
}
input[type="password"], textarea {
	padding: 0; 				/* убираем внутренние отступы для текстовых полей */
}
input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
	vertical-align: bottom;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	 list-style:none;
}
/* --------------- /reset.css --------------- */

/* --------------- базовые настройки ---------*/
html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
body {
	color: #16171A;
	text-align: left;
	font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
	min-height:100%;
     font-family: 'Inter', sans-serif;
    font-weight: 400;
   /*font-family: 'Manrope', sans-serif;*/
    overflow-x:hidden;
}
a, a:visited { /* порядок правил для ссылок имеет значение */
	color: #fff;
	text-decoration: none;
}
a:hover {
	color: #fff;
	text-decoration:underline;
}
a:focus, a:active {
	color: #fff;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
img{

	max-width:100%;
}
.clr{
	clear:both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}
/* --------------- /базовые настройки ---------*/

.header {
	background: #16171A;
	margin-bottom: -1px;
}

.container {
	overflow: hidden;
	max-width: 1160px;
	margin: 0 auto;
	padding: 0 10px;
}

.header__top {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	margin: 24px 0 53px 0;
}

.logo {
    font-size: 1em;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
}

.logo:hover {
	text-decoration: none;
}

.navigation {
	overflow: hidden;
}

.menu {
	display: flex;
}

.menu__list-item {
	margin-right: 64px;
	list-style: none;
}

.menu__list-item:last-child {
	margin-right: 0;
}

.menu__link {
	font-size: 1em;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
}

/* --------------- Mobile navigation button ----------- */

.menu__icon {
    z-index: 19;
    position: relative;
    display: none;
  width: 25px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 25px;
}

.menu__icon-line {
  position: relative;
  width: 25px;
  height: 4px;
  background-color: #fff;
  border-radius: 2px;
}

.menu__icon-line::before {
  position: absolute;
  left: 0;
  top: -8px;
  content: '';
  width: 25px;
  border-radius: 2px;
  height: 4px;
  background-color: #fff;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  -o-transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}

.menu__icon-line::after {
  position: absolute;
  left: 0;
  top: 8px;
  content: '';
  border-radius: 2px;
  width: 25px;
  height: 4px;
  background-color: #fff;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  -o-transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}

.menu__icon.menu-icon-active .menu__icon-line {
  background-color: transparent;
}

.menu__icon.menu-icon-active .menu__icon-line::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  -o-transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}

.menu__icon.menu-icon-active .menu__icon-line::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  -o-transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}

/* ----------------- Мобильная навигация ----------------- */
.mobile__nav {
    z-index: 9;
    display:block;
    position: absolute;
    position: fixed;
    right: -250px;
    width: 150px;
    padding: 20px 45px 20px 45px;
    background-color: rgba(53, 55, 62, .9);
    -webkit-transition: 0.4s ease-in;
    -o-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
    top: 60px;
    height: 350px;
}

.mobile-nav--active {
  right: 15px;
  position: absolute;
}

.block__right-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 1;
}

a.link__telegram {
	color: #16171A;
	font-family: 'Manrope', sans-serif;
    font-weight: 800;
	padding: 15px 54px 15px 28px;
	display: inline-block;
}

.arrow-right {
	position: absolute;
	top: 22px;
	right: 32px;
}

a.link__telegram:hover {
	text-decoration: none;
}

.down {
	background: #16171A;
	border: none;
	position: relative;
	cursor: pointer;
	display: inline-block;
	margin-right: 32px;
}

a.link__down {
	color: #fff;
	font-family: 'Manrope', sans-serif;
    font-weight: 800;
	padding: 15px 54px 15px 28px;
	display: inline-block;
}

.arrow-down {
	position: absolute;
	top: 20px;
	right: 32px;
}

a.link__down:hover {
	text-decoration: none;
}


.button__me {
	background: #fff;
	border: 1px solid #16171A;
	position: relative;
	cursor: pointer;
	display: inline-block;
}

a.link__me {
	color: #16171A;
	font-family: 'Manrope', sans-serif;
    font-weight: 800;
	padding: 15px 56px 15px 30px;
	display: inline-block;
}

.arrow-down {
	position: absolute;
	top: 22px;
	right: 32px;
}

a.link__me:hover {
	text-decoration: none;
}

.project {
	background:  #16171A;
	padding: 0 0 139px 0;
	margin-bottom: 150px;
}

.block__project {
	overflow: hidden;
}

.block__top-project {
    margin-bottom: 40px;
}

.top__project {
	margin-bottom: 23px;
}

.proekt {
	font-size: 3.5em;
	color: #fff;
	font-family: 'Manrope', sans-serif;
    font-weight: 800;
}

.text__about {
	color: #fff;
	line-height: 1.6;
	max-width: 760px;
	margin-bottom: 23px;
}

.block__bottom-project {
	overflow: hidden;
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1264px;
    margin: 0 auto;
    padding: 0 10px;
}

.little__project {
	display: flex;
	flex-direction: column;
	width: 31.7%;
	margin-bottom: 25px;
}

.img__project {
    margin-bottom: 6px;
}

.name__project {
	color: #fff;
    font-size: 0.75em;
}

.text__bottom-project {
	color: #fff;
	line-height: 1.6;
}

.question__answer {
	max-width: 960px;
	margin: 0 auto 70px auto;
	padding: 0 10px 30px 10px;
	border-bottom: 1px solid #919399;
}

.paragraph__content {
	font-family: 'Manrope', sans-serif;
    font-weight: 800;
	font-size: 3em;
	margin-bottom: 10px;
}

.pod__paragraph {
	font-family: 'Manrope', sans-serif;
    font-weight: 800;
	font-size: 2em;
	margin-bottom: 7px;
}

.text__content {
	line-height: 1.6;
	margin-bottom: 45px;
}

.question__bottom {
	padding: 5px 0 0 0;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
}

.strengths__block {
	width: 48%;
}

.weaknesses__block {
	width: 48%;
}

.skills {
	overflow: hidden;
	margin-bottom: 70px;
}

.skills__block {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 0 25px 0;
}

.skills__section {
	width: 48.3%;
	margin-bottom: 55px;
}

.skills__spisok {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}

.skills__spisok-item {
	line-height: 1.7;
	margin: 0 15px 0 0;
	padding: 0 10px 0 0;
}

.line {
	max-width: 960px;
	margin: 0 auto;
    height: 1px;
    background: #919399;
    overflow: hidden;
}

.experience {
	overflow: hidden;
	margin-bottom: 70px;
}

.exper {
	margin-left: -1px;
}

.big__experience {
	margin-bottom: 60px;
}

.block__experience {
	display: flex;
	justify-content: space-between;
	margin: 0 0 20px 0;
}

.block__experience-left {
	overflow: hidden;
	width: 31.2%;
	margin-right: 3.2%;
}

.experience__paragraph {
	font-family: 'Manrope', sans-serif;
    font-weight: 800;
	font-size: 1.5em;
	margin-bottom: 20px;
}

.experience__podparagraph {
	font-family: 'Manrope', sans-serif;
    font-weight: 800;
	font-size: 1em;
	margin-bottom: 3px;
}

.date {
	font-family: 'Manrope', sans-serif;
    font-weight: 600;
	font-size: 1em;
	color: #818799;
}

.block__experience-right {
	overflow: hidden;
	width: 65.6%;
	padding: 57px 0 0 0;
}

.experience__right-paragraph {
	font-family: 'Manrope', sans-serif;
    font-weight: 800;
	font-size: 1.25em;
	margin: 0 0 10px 0;
}

.experience__right-text {
	line-height: 1.6;
	margin: 0 0 20px 0;
}

.education {
	margin-bottom: 90px;
}


.experience__right-two {
	margin-top: -62px;
}

.spisok__experience {
	line-height: 1.6;
}

.block__experience-two {
	margin-bottom: 35px;
}

.download__resume {
	background-color: #16171A;
	text-align: center;
	padding: 77px 0;
}


.download__button {
	background: #fff;
	border: 1px solid #16171A;
	position: relative;
	cursor: pointer;
	display: inline-block;
}

a.download__me {
	color: #16171A;
	font-family: 'Manrope', sans-serif;
    font-weight: 800;
	padding: 15px 55px 15px 30px;
	display: inline-block;
}

.download__right {
	position: absolute;
	top: 22px;
	right: 32px;
	transform: rotate(90deg);
}

a.download__me:hover {
	text-decoration: none;
}

.contact {
	padding: 70px 0 75px 0
}

.block__contact {
	overflow: hidden;
}

.work__request {
	font-size: 3em;
	font-family: 'Manrope', sans-serif;
    font-weight: 800;
	width: 78.8%;
	line-height: 1.4;
	margin-bottom: 30px;
}

.contact__button-link {
	display: flex;
	margin-bottom: 50px;
}

.arrow__right-white {
	position: absolute;
	    top: 18px;
    right: 28px;
}

.search__contact {
	margin-bottom: 16px;
}

.spisok__contact {
	display: flex;
}

.contact__list-item {
	margin-right: 47px;
	list-style: none;
}

.contact__list-item:last-child {
	margin-right: 0;
}

a.contact__link {
	font-size: 1.5em;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    color: #16171A;
    text-decoration-line: underline;
}

a.contact__link:hover {
	text-decoration-line: none;
}

.footer {
	background: #16171A;
	padding: 80px 0;
}

.footer__block {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.navigation__footer {
	overflow: hidden;
	margin-bottom: 25px;
}

.menu__footer {
	display: flex;
}
.copyright {
	font-size: 0.75em;
	color: #919399;
}


@media (max-width: 960px) {
.block__top-project {
    margin-bottom: 20px;
}

.little__project {
    display: flex;
    flex-direction: column;
    width: 48.5%;
}

.work__request{
	width: 98.8%;
}

.project {
    padding: 0 0 40px 0;
}
}

@media (max-width: 865px) {

.project-foto {
	width: 100%;
}



.block__bottom-project {
	display: flex;
	flex-wrap: wrap;
}

}

@media (max-width: 768px) {
     
	.navigation {
		display: none;
	}

.menu__icon {
	display: block;
}

.menu {
	display: flex;
	flex-direction: column;
}

.menu__list-item {
	margin-bottom: 30px;
}

.proekt {
    font-size: 3em;
}

.project-foto {
	width: 100%;
}


.block__top-project {
    margin-bottom: 45px;
}

.work__request {
	font-size: 2.5em;
	line-height: 1.3;
}

.navigation__footer {
	margin-bottom: 0;
}

}


@media (max-width: 587px) {
	.contact__button-link {
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: flex-start;
}

.telega {
	margin-bottom: 15px;
}
}

@media (max-width:553px ) {
.block__bottom-project {
    display: flex;
    flex-direction: column;
}

.little__project {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
}

.bottom__images {
    width: 100%;
}

.project {
	padding-bottom: 42px;
}

.menu__list-item {
    margin-bottom: 10px;
}

.menu__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu__list-item {
    margin-right: 0;
}

.copyright {
    margin-top: 13px;
}
}

@media (max-width: 455px) {
	.down {
		margin-right: 0;
	}
	.down__two {
	margin-bottom: 15px;
}

.top__project {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 23px;
}

.proekt {
    font-size: 2.5em;
    margin-bottom: 10px;
}
.work__request {
    width: 100%;
}
	.spisok__contact {
    display: flex;
    flex-direction: column;
}

.copyright {
    margin-top: 13px;
    text-align: center;
}
}















